.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.app {
  flex: 1;
  background: url("../images/bg_min.jpg") center center;
  background-size: cover;
  background-attachment: fixed;
}

.splash {
  align-items: center;
  display: flex;
  justify-content: center;
  flex: 1;
  > .container {
    flex: 1;
  }

  h1 {
    @include breakpoint(sm) {
      font-size: 10.541rem;
      margin-bottom: 0;
    }
  }
}

.header-main {
  margin-bottom: 1rem;
}

.btn {
  display: inline-block;
  padding: .5rem 1rem;
  border: 0;
  border-radius: .25rem;
  text-transform: capitalize;
  &-block {
    display: block;
    width: 100%;
  }
}

.btn-default {
  background: $red;
  color: #fff;
  transition: $transition;
  &:hover {
    background: $red-hover;
    color: #fff;
  }
}

.soundpad-btn {
  display: block;
  height: 6rem;
  width: 100%;
  background: #fff;
  color: #333;
  transition: $transition;
  word-break: break-word;
  margin-bottom: 1rem;
  &:hover {
    background: $red-hover;
    color: #fff;
  }
  @include breakpoint(sm) {
    margin-bottom: 2rem;
  }
}

.form-group {
  margin-bottom: 1rem;
}

.break-word {
  word-wrap: break-word;
}

.notification-manager {
  position: fixed;
  top: 0;
  right: 0;
}

.toast {
  background: $red;
  color: #fff;
  padding: 1rem;
  transition: $transition;
}

.toast--active {
  opacity: 1;
}

.shake {
  animation: shake 500ms forwards;
  transform-origin: 50% 50%;
}

@keyframes shake {
  0% {
    top: 0;
    transform: scale(1);
  }
  20% {
    top: 0px;
    transform: rotate(3deg) scale(1.1);
  }
  40% {
    top: 0;
    transform: rotate(-2deg) scale(1.1);
  }
  60% {
    top: 0px;
    transform: rotate(2deg) scale(1.1);
  }
  80% {
    top: 0;
    transform: rotate(-1deg) scale(1.1);
  }
  90% {
    top: 0px;
    transform: rotate(1deg) scale(1.05);
  }
  100% {
    top: 0;
    transform: rotate(0) scale(1);
  }
}