*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  color: #fff;
  background: #111;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.4;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscaled;
}

button,
input,
textarea,
select {
  font: inherit;
  line-height: inherit;
  padding: .5rem 1rem;
  border: 0;
  border-radius: .25rem;
}

input[type="text"],
textarea,
select {
  display: block;
  width: 100%;
  background: #fff;
}

select {
  background-image: none;
  -webkit-appearance: none;
}

label {
  display: block;
  margin-bottom: .5rem;
}

button {
  cursor: pointer;
}

section {
  padding: 1rem 0;
}

ul {
  list-style: none;
}

footer {
  background: #111;
  padding: 1rem 0;
}