h1,
h2,
h3,
h4 {
  font-family: 'Roboto', sans-serif;
  line-height: 1.1;
  margin-bottom: .5rem;
  font-weight: 300;
}

h1 {
  font-size: 3.842rem;
}

h2 {
  font-size: 2.744rem;
}

h3 {
  font-size: 1.96rem;
}

h4 {
  font-size: 1.4rem;
}

p {
  margin-bottom: 1rem;
}

.jumbo {
  font-size: 5.378rem;
}

a {
  color: $red;
  transition: $transition;
  text-decoration: none;
  &:hover {
    color: $red-hover;
  }
}

small {
  font-size: .8rem;
  display: block;
}