/*global*/
body {
  color: #fff;
  font-family: 'Lato', sans-serif;
}

a {
  color: #BF5842;
  transition: all 300ms ease;
}

a:hover {
  color: #D64A37;
  text-decoration: none;
}

/*main*/
.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app {
  flex: 1;
  background: url("../images/bg_min.jpg") center center;
  background-size: cover;
  background-attachment: fixed;
  padding: 10px 0;
}

/*soundpad*/
.soundpad {
  padding-top: 15px;
}

.soundpad-btn {
  display: block;
  height: 100px;
  width: 100%;
  margin-bottom: 30px;
  background: #fff;
  color: #333;
  transition: all 300ms ease;
}

.soundpad-btn:hover {
  background: #CC5E46;
  color: #fff;
}

.soundpad-btn[data-sound="cantseemenow"] {
  color: white;
}

/*tyopgraphy*/
.jumbo {
  font-size: 60px;
  font-weight: 300;
}

@media (min-width: 768px) {
  .jumbo {
    font-size: 100px;
  }
}

.page-header {
  border: 0;
}

.gap {
  margin: 30px 0;
}

#roomLocation {
  word-wrap: break-word;
}

/*form*/
.btn-default {
  background: #BF5842;
  color: #fff;
  border-color: #BF5842;
  transition: all 300ms ease;
}

.btn-default:hover {
  background: #D64A37;
  color: #fff;
  border-color: #D64A37;
}

/*notifications*/
#notification-manager {
  position: fixed;
  top: 0;
  right: 0;
}

.toast {
  background: #BF5842;
  color: #fff;
  padding: 15px;
  opacity: 0;
  transition: all 300ms ease;
}

.toast--active {
  opacity: 1;
}

@keyframes shake {
  0% {
    top: 0;
    transform: scale(1);
  }
  20% {
    top: 0px;
    transform: rotate(3deg) scale(1.1);
  }
  40% {
    top: 0;
    transform: rotate(-2deg) scale(1.1);
  }
  60% {
    top: 0px;
    transform: rotate(2deg) scale(1.1);
  }
  80% {
    top: 0;
    transform: rotate(-1deg) scale(1.1);
  }
  90% {
    top: 0px;
    transform: rotate(1deg) scale(1.05);
  }
  100% {
    top: 0;
    transform: rotate(0) scale(1);
  }
}

.shake {
  animation: shake .5s forwards;
  transform-origin: 50% 50%;
}
