extends layout

block content
  section.section.app
    .container
      header.hero.text-center
        h1 Got.Em
        h2 Emojis for your ears
        h3 Create a room then share the link with your homies
        p Name your shared room
        form#joinNamed.form-inline
          .form-group
            input(type="text" placeholder="Room Name")#roomName.form-control
          button.btn.btn-default join
        p Or start a random one
        button#joinRandom.btn.btn-default join random
block scripts
  script(src="/javascripts/joinroom.js")