extends layout

block content
  .row.row-centered
    .col.col4
      form#joinNamed.form-group
        .form-group
          label Name your shared room
          input(type="text" placeholder="Room Name")#roomName
        button.btn.btn-default.btn-block join
      .form-group
        label Create a random one
        button#joinRandom.btn.btn-default.btn-block join random
      .form-group
        label Join an existing room
        a.btn.btn-default.btn-block(href="lobby") lobby
block scripts
  script(src="/javascripts/joinroom.js")