extends layout

block content
  .text-center
    .row
      .col-sm-4.col-sm-offset-4
        h4 Name your shared room
        form#joinNamed
          .form-group
            input(type="text" placeholder="Room Name")#roomName.form-control.input-lg
          button.btn.btn-default.btn-lg.btn-block join
    .row
      .col-sm-4.col-sm-offset-4
        h4.gap Or
        h4 Start a random one
        button#joinRandom.btn.btn-default.btn-lg.btn-block join random
block scripts
  script(src="/javascripts/joinroom.js")