doctype html
html
  head
    if roomId
      title Got em | #{roomId}
    else
      title Got em
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    .main
      section.app
        .container
          header
            h1.jumbo
              a(href='/') GOT'EM
            h2 Emojis for your ears
          block content
      footer
        .container
          h3 catch us on 
            a(href='https://github.com/prestonp/got-em' target='_blank')
              i.fa.fa-github
          small GOTEM 2017
    #notification-manager
    script(src='/socket.io/socket.io.js')
    block scripts
