doctype html
html
  head
    title Got em.
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .main
      block content
      footer.section
        .container
          small Got.Em 2016
    script(src="/socket.io/socket.io.js")
    block scripts
