extends layout

block content
  section.section.app
    .container
      header.hero.text-center
        h1 Got.Em
        h2 Emojis for your ears
        h3 Active Rooms
        #list
block scripts
  script(src="/javascripts/lobby.js")