.section{
  padding: 15px 0;
}
.btn{
  border-radius: 0;
}
.btn[data-sound="cantseemenow"] {
  color: white;
}

/*fonts*/
body{
  font-family: 'Open Sans', sans-serif;
  position: relative;;
}
h1, h2, h3, h4, h5{
  font-family: 'Merriweather', serif;
  font-weight: 900;
}

/*hero*/
.hero{
  padding: 0;
}
@media (min-width: 768px){
  .hero{
    padding: 60px 0;
  }
}
.hero h1{
  font-size: 60px;
}
@media (min-width: 768px){
  .hero h1{
    font-size: 110px;
  }
}

/*main*/
.main{
  background: url("../images/bg.jpg") no-repeat fixed center center;
  background-size: cover;
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.app{
  flex: 1;
}

/*soundpad*/
.soundpad{
  margin: 0 -5px;
}
.soundpad-row{
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 768px){
  .soundpad-row{
    flex-direction: row;
  }
}
.soundpad-btn{
  flex: 1 0 50%;
  background: #fff;
  color: #333;
  transition: all 300ms ease;
  display: flex;
  min-height: 150px;
  justify-content: center;
  white-space: normal;
  border: 1px solid #333;
}
.soundpad-btn:hover{
  background: #f16859;
  color: #fff;
}
@media (min-width: 768px){
  .soundpad-btn{
    margin: 5px;
    flex: 1 0 0;
    border: 1px solid transparent;
  }
}

/*footer*/
footer{
  background: #333;
}

/*notifications*/
#notification-manager{
  position: fixed;
  top: 0;
  right: 0;
}
.toast{
  background: #fff;
  height: 50px;
  width: 200px;
  padding: 15px;
  opacity: 0;
  transition: all 300ms ease;
  border: 1px solid #333;
}
.toast--active{
  opacity: 1;
}