/*todo- clean up*/
.btn[data-sound="cantseemenow"] {
  color: white;
}

.section{
  padding: 15px 0;
}
.btn{
  border-radius: 0;
}

/*main*/
.main{
  background: url("../images/bg.jpg") no-repeat fixed center center;
  background-size: cover;
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.app{
  flex: 1;
}

/*footer*/
footer{
  background: #333;
}

.soundpad{
  margin: 0 -5px;
}
.soundpad-row{
  display: flex;
  flex-direction: row;
}
.soundpad-btn{
  flex-grow: 1;
  flex-basis: 0;
  background: #fff;
  color: #333;
  transition: all 300ms ease;
  display: flex;
  min-height: 150px;
  justify-content: center;
  margin: 5px;
}
.soundpad-btn:hover{
  background: #f16859;
  color: #fff;
}